.DS_Store
/fish/.config/fish/completions/
/fish/.config/fish/conf.d/_*
/fish/.config/fish/conf.d/autopair.fish
/fish/.config/fish/fish_variables
/fish/.config/fish/functions/_*
/fish/.config/fish/functions/fish_mode_prompt.fish
/fish/.config/fish/functions/fish_prompt.fish
/fish/.config/fish/functions/fisher.fish
/fish/.config/fish/functions/tide.fish
/fish/.config/fish/functions/tide/
/kitty/.config/kitty/startup.conf
