*.swp
.DS_Store
/kitty/.config/kitty/startup.conf
/fish/.config/fish/conf.d
/fish/.config/fish/completions
/fish/.config/fish/fish_variables
/fish/.config/fish/functions/_*
/fish/.config/fish/functions/fish*
/fish/.config/fish/functions/tide*
/nvim/.config/nvim/spell
