*.swp
.DS_Store
vim/dot-vim/autoload
vim/dot-vim/plugged
vim/dot-vim/.netrwhist
vim/dot-vim/spell
vim/dot-vim/rc.d/99-work.vim
bin/imgcat
bin/node_modules
bin/package-lock.json
bin/project-dotfiles.sh
