@echo off
echo Downloading Nerd Font to Desktop for you to install...
curl --location "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraCode.zip" --output-dir {{ joinPath .chezmoi.homeDir "Desktop" | quote }} --remote-name --silent
echo(

echo Installing packages via WinGet...
winget install --disable-interactivity --silent Git.Git Mozilla.Firefox Google.Chrome JohnMacFarlane.Pandoc GitHub.cli Nushell.Nushell OpenJS.NodeJS.LTS NVAccess.NVDA BurntSushi.ripgrep.MSVC Genymobile.scrcpy GitHub.GitHubDesktop Helix.Helix Rustlang.Rustup Zoom.Zoom.EXE sharkdp.bat sharkdp.fd twpayne.chezmoi Microsoft.PowerToys ImageMagick.Q16-HDRI
echo(

echo Installing NPM packages...
{{ template "command-install-npm-packages" -}}
