print "Activating gstat plugin..."
{{ if eq .chezmoi.os "linux" -}}
print "FIXME!"
{{- else if eq .chezmoi.os "darwin" -}}
plugin add /opt/homebrew/bin/nu_plugin_gstat
{{- else -}}
plugin add nu_plugin_gstat.exe
{{- end }}
